/* Theme Name:    unesco_theme
Template:    ultra
Version:      1.6.4
Description:  Ultra
Author:      Amalie Nielsen */

html {
  background-color: yellow;
}

#top-bar {
  display: none;
}
.site-title {
  color: blue;
}

/*slet*/
* {
  display: none;
}
