/* Theme Name: unesco_theme
Template:    mesmerize
Version:     1.6.109
Description: mesmerize
Author:      Amalie Nielsen */

div.row:nth-child(7) {
  margin-inline: 5%;
}
/* virker ikke */
.header {
  background-image: url(/unesco-bb.png);
  object-fit: cover;
}

/* fonte */
@import url("https://use.typekit.net/tvt0zil.css");

h1 {
  font-family: basco-std, serif !important;
  font-weight: 600 !important;
}

h2 {
  font-family: basco-std, serif !important;
  font-weight: 500 !important;
}

h3 {
  font-family: basco-std, serif !important;
  font-weight: 500 !important;
}

h4 {
  font-family: basco-std, serif !important;
  font-weight: 500 !important;
}

p {
  font-family: sweet-sans-pro, sans-serif !important;
  font-weight: 400 !important;
  color: rgb(26, 25, 25);
}

/* ikoner i footer */
.footer-content i {
  font-family: FontAwesome;
  font-weight: 500;
}

a {
  /* text-decoration: none; */
  color: #6f9ede;
}
a:hover {
  color: black;
}
.wp-container-1 {
  gap: 8em;
}

/* -------------------------------------------------- menu -------------------------------------------------  */
/* markør af valgt side */
ul.dropdown-menu.active-line-bottom > .current_page_item > a,
ul.dropdown-menu.active-line-bottom > .current-menu-item > a,
ul.dropdown-menu.default > .current_page_item > a,
ul.dropdown-menu.default > .current-menu-item > a {
  border-bottom: 3px solid white;
}
/* hover af menuen --> sort */
ul.dropdown-menu.active-line-bottom
  > li:not(.current-menu-item):not(.current_page_item):hover
  > a {
  color: black !important;
}

@media (min-width: 768px) {
  ul.dropdown-menu > li:hover > a,
  ul.dropdown-menu > li.hover > a {
    color: black;
  }
}

/* ------------------------------------------------- forside ----------------------------------------------- */
/* overskrift på splash */
h1.hero-title {
  font-family: basco-std, serif;
  font-size: 5rem;
}
/* nav font */
ul.dropdown-menu li {
  font-family: basco-std, serif !important;
  font-weight: 500 !important;
}
ul.dropdown-menu.active-line-bottom
  > li:not(.current-menu-item):not(.current_page_item):hover
  > a {
  color: #93cc99;
}

/* projekt knapper adskilt på forsiden */
a.button:nth-child(4) {
  margin-left: 5%;
}
/* [data-type="column"] {
   css relger her 
  height: 200px; 
}
*/
/* margin-bottom mellem projekt knapper og projekter på forsiden  */
#section-3 > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
  margin-bottom: 3%;
}
/* skulte billeder nederst på forsiden */
div.row:nth-child(7),
div.row:nth-child(9) {
  display: none;
}

/* flip kort - grid */
.wrapper_forside {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  margin-inline: 5%;
  margin-bottom: 5%;
}

i.fa.icon.reverse.color1 {
  background-color: #6f9ede;
}

/* knapper */
.button {
  outline: none;
  text-decoration: none;
  color: #6f9ede;
  background-color: transparent;
  border-color: #6f9ede;
  border-radius: 120px;
}
.button:hover {
  outline: none;
  text-decoration: none;
  color: #fff;
  background-color: #93cc99;
  border-color: #93cc99;
  border-radius: 120px;
}
/* knapper på sitets resterende knapper */
.button.color2 {
  color: #6f9ede;
  background-color: transparent;
  border-color: #6f9ede;
  border-radius: 120px;
}
.button.color2:hover {
  color: #ffffff;
  background-color: #93cc99;
  border-color: #93cc99;
}

/*  */
div::before,
ul::before,
article::before,
aside::before,
details::before,
figcaption::before,
figure::before,
footer::before,
header::before,
hgroup::before,
menu::before,
nav::before,
section::before,
div::after,
ul::after,
article::after,
aside::after,
details::after,
figcaption::after,
figure::after,
footer::after,
header::after,
hgroup::after,
menu::after,
nav::after,
section::after {
  display: none;
}
/* flip kort */
.flip-card {
  background-color: transparent;
  perspective: 3000px;
  aspect-ratio: 1/1;
}
.flip-card a {
  /* text-decoration: none; */
  color: white;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #93cc99;
  color: white;
  transform: rotateY(180deg);
  font-family: sweet-sans-pro, sans-serif;
  font-size: 0.9rem;
  padding: 2%;
}

.flip-card-back p {
  color: white;
}

/* ---------------- verdensmål ------------- */
.wp-block-button__link {
  outline: none;
  text-decoration: none;
  color: #6f9ede;
  background-color: transparent;
  border: solid;
  border-color: #6f9ede;
}
.wp-block-button__link:active,
.wp-block-button__link:focus,
.wp-block-button__link:hover,
.wp-block-button__link:visited {
  color: #6f9ede;
}
.wp-block-button__link:hover {
  outline: none;
  text-decoration: none;
  color: white;
  background-color: #93cc99;
  border: solid;
  border-color: #93cc99;
}

/* ----------------- footer ------------------- */
.footer-contact-boxes .footer-content {
  background-color: #85aece;
}
.footer-contact-boxes .footer-bg-accent {
  background-color: #85aece;
}
.footer-social-icons {
  margin: 0 !important;
}
.footer_logo {
  max-width: 128px;
}

/*.copyright {
  display: none;
}*/
.footer-contact-boxes .col-sm-3 {
  border: solid #85aece;
}
.footer-contact-boxes .col-sm-3:last-child {
  border: solid #85aece;
}

@media (min-width: 768px) {
  .footer-contact-boxes .col-sm-3 {
    padding-top: 65px;
    padding-bottom: 60px;
  }
}

/* --------------------------------- verdensmålsskoler - side ------------------------- */
/* links fået farve */
div.wp-block-columns:nth-child(3) > div:nth-child(1) a {
  text-decoration: none;
  color: #85aece;
}
div.wp-block-columns:nth-child(3) > div:nth-child(1) a:hover {
  text-decoration: none;
  color: #93cc99;
}
/* ul .slick-dots {
  display: none;
}
li .slick-active {
  display: none;
} */

/* knapper - formularer */
#wpforms-submit-236,
#wpforms-submit-229,
#wpforms-submit-169 {
  outline: none;
  text-decoration: none;
  color: #6f9ede;
  background-color: transparent;
  border-color: #6f9ede;
  border-radius: 120px;
}
#wpforms-submit-236:hover,
#wpforms-submit-229:hover,
#wpforms-submit-169:hover {
  outline: none;
  text-decoration: none;
  color: white;
  background-color: #93cc99;
  border-color: #93cc99;
  border-radius: 120px;
}

/*  knap - medborgerskab*/
.wp-block-button__link {
  outline: none;
  text-decoration: none;
  color: #6f9ede;
  background-color: transparent;
  border-color: #6f9ede;
  border-radius: 120px;
}
.wp-block-button__link:hover {
  outline: none;
  text-decoration: none;
  color: white;
  background-color: #93cc99;
  border-color: #93cc99;
  border-radius: 120px;
}

/* knap - globalt medborgerskab */
.wp-block-button__link {
  color: #6f9ede !important;
  background-color: transparent !important;
  border-color: #6f9ede !important;
  border-radius: 120px !important;
}

.wp-block-button__link:hover {
  color: white !important;
  background-color: #93cc99 !important;
  border-color: #93cc99 !important;
  border-radius: 120px !important;
}
